@model List<WSAD_app1.Areas.Admin.Models.ViewModels.ManageUser.UserDetailsViewModel>

@{
    ViewBag.Title = "Classes for:";
}

<h2>Classes</h2>
<div>
    <label>Manually Add Class:</label>
    @Html.TextBox("CourseSearch", null, new { placeholder = "Type class name to search", @class = "form-control" })
</div>
@using (Html.BeginForm("DeleteCourse", "ManageUsers"))
{
    <table class="table">
        <tr>
            <th>&nbsp;</th>
            <th>
                UserId
            </th>
            <th>
                CourseID
            </th>
            <th></th>
        </tr>

        @for (int i = 0; i < Model.Count(); i++)
        {
            var item = Model[i];
            <tr>
                <td>
                    @Html.HiddenFor(x => Model[i].UserId)
                    @Html.HiddenFor(x => Model[i].CourseID)
                    @Html.CheckBoxFor(x => Model[i].IsSelected)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseID)
                </td>
            </tr>
        }
    </table>
    <button type="submit" class="btn btn-danger">Delete Courses</button>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    <script>
            $(function () {
                $("#CourseSearch").autocomplete({
                    source: "@(Url.Content("~/api/CourseSearch"))",
                    minLength: 1,
                    select: function (event, ui) {
                        var courseId = ui.item.Id;
                        window.location =
                            "@(Url.Action("AddCourseToList", new { Model.FirstOrDefault()?.UserId }))" + //Mix of Razor and Javascript
                            "&courseId=" + courseId;
                    }

                })
                .autocomplete("instance")._renderItem = function (ul, item) {
                    return $("<li>")
                      .append("<a>" + item.Name + "<small> (" + item.TeacherName + ")<small></a>")
                      .appendTo(ul);
                };
            });
    </script>
}