<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Palmer Application", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("View All Courses", "Index", "Course", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("View My Courses", "Index", "ShoppingCart", new { area = "" }, null)</li>
                        </ul>
                    </li>
                    
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("User Management", "Index", "ManageUsers", new { area = "Admin" }, null)</li>
                                <li>@Html.ActionLink("Course Management", "Index", "CourseManagement", new { area = "Admin" }, null)</li>
                            </ul>
                        </li>
                    }

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    >
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Logout", "Logout", "Account", new { area = "" }, null)</li>
                        <li>@Html.Action("UserNavPartial", "Account", new { area = "" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Account", new { area = "" }, null)</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Brian Palmer - Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
